
body {
  font-family: "Nunito", sans-serif;
  background-color: #F0ECE5;
}

.navbar {
  background-color: #161A30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  color: #F0ECE5;
}

.navbar-list li {
  margin-right: 15px; /* Adjust spacing between items */
}

.navbar-list li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.navbar-list li a {
  text-decoration: none;
  color: white; /* Set text color */
}

.logo {
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Maintain aspect ratio */
}
